*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: aquamarine;
    width: 100%;
    padding-top: 2rem;
    height: max-content;
    
}

.form{
    width: 400px;
    margin: auto;
    position: relative;
    margin-top: 8%;
    background-color: white;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0px 2px 4px rgba(0,0,0,0.5);
}
.hello{
    position: absolute;
    font-size: 45px;
    left: 42%;
    top: -58.5px;
}
.form h1{
    text-align: center;
}
.form input{
    margin-top: 20px;
    width: 100%;
    border: 1px solid #ccc;
    padding: 10px;
}
.form input[type=email],input[type=password]{
    font-size: 1rem;
}
.link{
    margin-top: 10px;
    text-align: center;
}
.link a,.suggestion a{
    text-decoration: none;
}
.login button{
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    font-size: 1rem;
    cursor: pointer;
}
.suggestion p{
    margin-top: 10px;
    text-align: center;
}
.line{
    height: 1px;
    width: 100%;
    margin-top: 30px;
    border: 1px solid #ccc;
    position: relative;
}
.line::before{
    content: 'Or';
    position: absolute;
    left: 45%;
    top: -20px;
    background-color: white;
    padding: 10px;
}
.social-link{
    display: flex;
    justify-content: center;
    padding: 10px;
    position: relative;
    cursor: pointer;
    box-shadow: 0px 1px 3px rgba(0,0,0,0.2);
}
.social-link i{
    position: absolute;
    left: 20px;
    font-size: 1.25rem;
}
.social-link p{
    font-size: 1.2rem;
}
.facebook{
    margin-top: 25px;
    color: white;
    background-color: rgb(26, 125, 218);
}
.facebook:hover, .google:hover{
    box-shadow: 0px 2px 3px rgba(0,0,0,0.5);
}
.google{
    border: 1px solid rgb(150, 148, 148);
    background-color: #ccc;
    margin-top: 15px;
}

